<!DOCTYPE html>
<html lang="en" ng-app="flApp">
<head>
    <meta charset="UTF-8">
    <title>Add Friend</title>
    <script src="bower_components/jquery/dist/jquery.min.js"></script>
    <script src="bower_components/angular/angular.min.js"></script>
    <link rel="stylesheet" href="bower_components/bootstrap/dist/css/bootstrap.min.css">
    <script src="bower_components/bootstrap/dist/js/bootstrap.min.js"></script>


    <link rel="stylesheet" href="css/form.css">


</head>
<body ng-controller="FlCtrl as flCtrl">
<div class="container">
    <form name = "addFriendForm">
        <div class="col-sm-1">
            <h3>Add Friend</h3>
            <div class="form-group">
                <div><label>Name:</label></div>
                <div>
                    <input type="text" ng-model="flCtrl.contact.name1" placeholder={{flCtrl.contact.name1}} required>
                </div>
            </div>
            <div class="form-group">
                <div><label>Email:</label></div>
                <div>
                    <input type="email" name="email" ng-model="flCtrl.contact.email1" placeholder={{flCtrl.contact.email1}}>
                </div>
                <label ng-show="addFriendForm.email1.$invalid" class="email_invalid">Invalid email format</label>

            </div>
            <div class="form-group">
                <div>
                    <label>Contact:</label>
                </div>

                <div>
                    <!--<input type="text" ng-model="flCtrl.contact.number" name="contact"-->
                           <!--placeholder={{flCtrl.contact.number}} ng-pattern="/^[0-9]/" required>-->
                    <input type="text"
                           ng-model="flCtrl.contact.number1"
                           name="contact"
                           placeholder={{flCtrl.contact.number1}} required>
                    <div data-ng-show="addFriendForm.contact.$invalid">
                        <span class = "contact_invalid">Invalid contact number</span>
                    </div>
                </div>
            </div>
            <div class="form-group">
                <div><label>Gender:</label></div>
                <div>
                    <label class="radio-inline">
                        <input type="radio" name="gender" value="M" ng-model="flCtrl.contact.gender1">Male
                    </label>
                    <label class="radio-inline">
                        <input type="radio" name="gender" value="F" ng-model="flCtrl.contact.gender1">Female
                    </label>
                </div>
            </div>
            <div class="form-group">
                <button type="button" class="btn-success" ng-disabled="flCtrl.contact.name1.length < 3"  ng-click="flCtrl.addToList(flCtrl.contact)">Add</button>
                <button type="button" class="btn-success" ng-click="flCtrl.resetEntry()">Reset</button>
            </div>
        </div>

    </form>
</div>

</body>
<script src="index.js"></script>
</html>