<!DOCTYPE html>
<html lang="en" ng-app="flApp">
<head>
    <meta charset="UTF-8">
    <title>Add Friend</title>
    <script src="bower_components/angular/angular.min.js"></script>
    <link rel="stylesheet" href="bower_components/bootstrap/dist/css/bootstrap.min.css">
    <script src="bower_components/jquery/dist/jquery.min.js"></script>


</head>
<body ng-controller="FlCtrl as flCtrl">
<div class="container">
    <form>
        <div class="col-sm-1">
            <h3>Add Friend</h3>
            <div class="form-group">
                <div><label>Name:</label></div>
                <div>
                    <input type="text" ng-model="flCtrl.contact[0].name" placeholder={{flCtrl.contact[0].name}}>
                </div>
            </div>
            <div class="form-group">
                <div><label>Email:</label></div>
                <div>
                    <input type="text" ng-model="flCtrl.contact[0].email" placeholder={{flCtrl.contact[0].name}}>
                </div>
            </div>
            <div class="form-group">
                <div>
                    <label>Contact:</label>
                </div>

                <div>
                    <input type="text" ng-model="flCtrl.contact[0].number"
                           placeholder={{flCtrl.contact[0].number}} ng-pattern="/^[0-9]{1,7}$/">
                </div>
                <div ng-show="flCtrl.number.$error">
                    <h5 class = "contact_invalid">Invlid contact number</h5>
                </div>

            </div>
            <div class="form-group">
                <div><label>Gender:</label></div>
                <div>
                    <label class="radio-inline">
                        <input type="radio" name="gender" value="Male" ng-model="flCtrl.contact[0].gender">Male
                    </label>
                    <label class="radio-inline">
                        <input type="radio" name="gender" value="Female" ng-model="flCtrl.contact[0].gender">Female
                    </label>
                </div>
            </div>
            <div class="form-group">
                <button type="button" class="btn-success" ng-click="flCtrl.addToList(flCtrl.contact[0])">Add</button>
                <button type="button" class="btn-success" ng-click="flCtrl.resetEntry()">Reset</button>
                <button type="button" class="btn-success" ng-click="flCtrl.displayEntry(2)">Display</button>
                <button type="button" class="btn-success" ng-click="flCtrl.updateEntry(2)">Save</button>
                <button type="button" class="btn-success" ng-click="flCtrl.displayEntry(2)">Cancel</button>
            </div>
        </div>

    </form>
</div>

</body>
<script src="index.js"></script>
</html>