<!DOCTYPE html>
<html lang="en" ng-app="flApp">

<head>
    <meta charset="UTF-8">
    <title>Greeting from Web Server</title>
    <link rel="stylesheet" href="bower_components/bootstrap/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="bower_components/font-awesome/css/font-awesome.min.css">
    <link rel="stylesheet" href="css/index.css">
</head>
<body ng-controller="FlCtrl as ctrl" >
<div class="container-fluid">
    <h3 class="col-md-offset-3 col-lg-offset-3"> Friend Lists</h3>
</div>
<div class="container-fluid">
    <div class="col-sm-12 col-md-3 col-lg-3">
    <form name = "addFriendForm">
        <div>
            <h3 ng-hide="ctrl.editStatus">Add Friend</h3>
            <h3 ng-show="ctrl.editStatus">Edit Friend</h3>
            <div class="form-group">
                <div><label>Name:</label></div>
                <div>
                    <input
                            type="text"
                            name="name"
                            ng-model="ctrl.contact.op_name"
                            ng-minlength="3"
                            placeholder={{ctrl.contact.op_name}}>
                </div>
            </div>
            <div data-ng-show="addFriendForm.name.$invalid" >
                <h5 class="text-warning">Name must be more than 2 characters.</h5>
            </div>
            <div class="form-group">
                <div><label>Email:</label></div>
                <div>
                    <input
                            type="email"
                            name="email"
                            ng-model="ctrl.contact.op_email"
                            placeholder={{ctrl.contact.op_email}}>
                </div>
            </div>
            <div data-ng-show="addFriendForm.email.$invalid" >
                <h5 class="text-warning">Invalid email format</h5>
            </div>
            <div class="form-group">
                <div>
                    <label>Contact:</label>
                </div>

                <div>
                    <input
                            type="text"
                            name="contact"
                            ng-model="ctrl.contact.op_contact"
                            placeholder={{ctrl.contact.op_contact}}
                            ng-pattern="/([0-9\s\-]{7,})(?:\s*(?:#|x\.?|ext\.?|extension)\s*(\d+))?$/">
                </div>
                <div data-ng-show="addFriendForm.contact.$invalid">
                    <h5 class="text-warning">Invalid contact number</h5>
                </div>

            </div>
            <div class="form-group">
                <div><label>Gender:</label></div>
                <div ng-click="ctrl.selectGender()">
                    <label class="radio-inline">
                        <input type="radio" name="gender" value="M" ng-model="ctrl.contact.op_gender">Male
                    </label>
                    <label class="radio-inline">
                        <input type="radio" name="gender" value="F" ng-model="ctrl.contact.op_gender">Female
                    </label>
                </div>
            </div>
            <div class="form-group">
                <div><label>Creator:</label></div>
                <div>
                    <input
                            type="email"
                            name="creator"
                            ng-model="ctrl.contact.op_creator"
                            placeholder={{ctrl.contact.op_creator}}>
                </div>
            </div>
            <div data-ng-show="addFriendForm.creator.$invalid" >
                <h5 class="text-warning">Invalid email format</h5>
            </div>
            <div class="form-group">
                <div><label>Avatar:</label></div>
                <div>
                    <input ng-disabled="1"
                            type="text"
                            ng-model="ctrl.contact.op_photo"
                            placeholder={{ctrl.contact.op_photo}}>
                </div>
            </div>
            <div class="form-group">
                <div><label>Group:</label></div>
                <div>
                    <input
                            type="text"
                            ng-model="ctrl.contact.op_group"
                            placeholder={{ctrl.contact.op_group}}>
                </div>
            </div>
            <div class="form-group" ng-hide="ctrl.editStatus">
                <button type="button" class="btn-success"
                        ng-click="ctrl.addToList()">Add</button>

                <button type="button" class="btn-success" ng-click="ctrl.resetEntry()">Reset</button>
            </div>
            <div class="form-group" ng-show="ctrl.editStatus">
                <button type="button" class="btn-success" ng-click="ctrl.updateEntry()">Save</button>
                <button type="button" class="btn-success" ng-click="ctrl.displayEntry()">Cancel</button>
            </div>
        </div>
    </form>
    </div>

    <div class =".col-xs-12 .col-sm-12 .col-md-4 .col-lg-4 col-md-offset-3 col-lg-offset-3 contact-list">

        <table class="table friend-list">
            <div> Search: <input type="text" ng-model="searchBox"></div>
            <thead>
            <tr>
                <th class="col-sm-1">Avatar</th>
                <th class="col-sm-2">Name</th>
                <th class="col-sm-1">Contact</th>
                <th class="col-sm-3">Email</th>
                <th class="col-sm-1">Option</th>
            </tr>
            </thead>
            <tr ng-repeat="i in ctrl.contacts | filter: searchBox" ng-click="ctrl.select($index)"
                ng-class="{selected: $index == ctrl.selected}">
                <td class="col-sm-1">
                    <a  class="thumb">
                        <img ng-src="{{i.photo}}" alt="{{i.gender}}"  height="30" width="30" />
                    </a>
                </td>
                <td class="col-sm-2">{{i.name}}</td>
                <td class="col-sm-1">{{i.contact}}</td>
                <td class="col-sm-3">{{i.email}}</td>
                <td class="col-sm-1">
                    <!-- Detele with confirmation dialog -->
                    <i class="fa fa-remove" style="font-size:36px;color:red" data-toggle="modal" data-target="#confirmModal" ng-click="ctrl.deleteClicked(i.id)"> </i>
                    <!-- Modal -->
                    <div class="modal fade" id="confirmModal" role="dialog">
                        <div class="modal-dialog modal-sm">
                            <!-- Modal content-->
                            <div class="modal-content">
                                <div class="modal-header">
                                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                                    <h4 class="modal-title text-warning">Confirm Deletion</h4>
                                </div>
                                <div class="modal-body text-warning">
                                    <p>Do you want to delete {{ctrl.contact.op_name}} from your friend list?</p>
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="ctrl.deleteFriend()">Yes</button>
                                    <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!--<button class="btn-success" ng-click ="ctrl.deleteEntry($index)">Delete</button>-->
                    <i class="fa fa-angle-double-right" style="font-size:36px;color:green" ng-click="ctrl.showDetails(i.id)"></i>
                </td>


            </tr>

        </table>

      <!--  <table class="table table-striped">
            <thead>
            <tr>
                <th>Name</th>
                <th>Contact</th>
                <th ng-show="show===false"><i class="fa fa-angle-right" ng-click="show=true"></i></th>
                <div ng-show="show===true">
                    <th>Name</th>
                    <th>Contact</th>
                    <th ng-show="show===false"><i class="fa fa-angle-left" ng-click="show=false"></i></th>
                </div>
            </tr>
            </thead>
            <tbody>
            <tr ng-repeat="result in ctrl.contacts">
                <div>
                    <td>{{ result.name }}</td>
                    <td>{{ result.contact }}</td>
                    <div ng-show="show">
                        <td>{{ result.email }}</td>
                        <td>{{ result.gender }}</td>
                    </div>
                </div>
            </tr>
            </tbody>
        </table>-->

    </div>

</div>


</body>
<script src="bower_components/jquery/dist/jquery.js"></script>
<script src="bower_components/angular/angular.js"></script>
<script src="bower_components/bootstrap/dist/js/bootstrap.js"></script>
<script src="index.js"></script>
<script src="Friend/friend.controller.js"></script>
</html>